@model responseXYRange
@{
    ViewData["Title"] = "Home Page";    
    
}
@section Scripts
{
    <script src="@Url.Content("~/js/index-chart.js")"></script>
}
<div class="text-center">
    <div>
        

        <div class="canvas-container" id="bar-chart" style="z-index:0;"><canvas id="myChart" onclick="controlInterval();"></canvas></div>

            </div>
    </div>

    
        <script>
        
        </script>
   

    
</div>
